.card {
  background: rgba(#E6E2AF, 0.5) !important;
  height: 100%;
  min-height: 50%;

  table {
    height: 100%;
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;
    tr, td{
      border-spacing: 2px;
    }
    thead {
      text-align: center;
      height: 40px;
      //background: rgba(0, 0, 0, 0.1);
      font-size: 20px;

      tr {
        line-height: 400%;
      }

      i {
        font-weight: bold;
        color: #4E7AC7;
      }
    }

    tbody {
      tr {
        &:first-child {
          background: rgba(0, 0, 0, 0.1);
          td {
            text-align: left !important;
          }
        }

        &:not(:first-child) {
          td {
            &:first-child {
              font-weight: bold;
              color: #4E7AC7;
            }
          }
        }

        &:nth-child(even){
          background: rgba(0, 0, 0, 0.02);
        }


        &:nth-child(odd){
          background: rgba(0, 0, 0, 0.04);
        }

        td {
          &:first-child {
            width: 10%;
            text-align: center;
          }
        }
      }
    }
  }
}

