.sidebar {
  height: 100%;
  width: 296px;
  box-shadow: 0 0 5px black;
  overflow: auto;
  background: var(--primary-background);

  h6 {
    color: var(--primary-color);
    margin-bottom: 0;
  }

  a {
    &:visited, &:link {
      color: var(--secondary-color);
    }

    &:hover,  &:active {
      color: var(--primary-color);
    }
  }

  ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul {
    border-left: 1px dashed var(--secondary-color);
    margin-left: 10px;
  }

  li {
    display: flex;
    margin-left: -3.5px;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      border-left: 4px solid transparent;
    }
  }
}

.active {
  background: rgba(#E6E2AF, .2);
  border-color: var(--primary-color) !important;
  &:link, &:visited {
    color: var(--primary-color) !important;
  }
}

.sidebarBody {
  height: calc(100% - 145px);
}

.sidebarFooter {
  font-size: 14px;
  color: var(--secondary-color);
  height: 145px;
  border-top: 1px solid var(--secondary-color);
  text-align: center;

  a {
    color: var(--primary-color) !important;
  }
}
